%h3
  Tillfällen
%ul.session-list
  = list_of(sessions) do |session|
    %span{ :class => session.canceled? ? 'session-list-canceled' : ''}
      .session-list-item
        = l session.starts_at, :format => :time
        = l(session.date, :format => :long_day)
      - if session.comment?
        .session-list-comment
          Kommentar:
          = session.comment
