%h1 Nytt presentkort
- form_for(@gift_certificate, :url => admin_gift_certificates_path) do |f|
  = render :partial => "form", :object => f
  = f.error_messages
  %p
    = f.submit 'Create'
= link_to 'Back', admin_gift_certificates_path
