<h3>Några saker att tänka på</h3>
<ul>
  <li>Portkod är <b>6268</b></li>
  <li>Var på plats 10 minuter innan klassen börjar.</li>
  <li>Det finns yogamattor till utlåning.</li>
  <li>Kom i lösa, mjuka kläder.</li>
  <li>Du är barfota under yogapasset.</li> 
  <li>Ta gärna med en handduk (man blir varm och svettas mycket).</li>
  <li>Ät helst inte något närmare än två timmar före yogapasset.</li>
  <li>Drick inte innan, under eller direkt efter yogapasset.</li>
  <li>Vänta ungefär 30 minuter efter yogapasset innan du äter större mängder mat.</li> 
  <li>Ha mobilen avstängd under yogapasset.</li>
  <li>Berätta för läraren innan klassen om eventuella skador.</li>
  <li>Om du är gravid ska du inte gå på Ashtanga Yoga.</li>
</ul>
