%h3 Några saker att tänka på
%ul
  %li
    Portkod är
    %b 6268
  %li Var på plats 10 minuter innan klassen börjar.
  %li Det finns yogamattor till utlåning.
  %li Kom i lösa, mjuka kläder.
  %li Du är barfota under yogapasset.
  %li Ta gärna med en handduk (man blir varm och svettas mycket).
  %li Ät helst inte något närmare än två timmar före yogapasset.
  %li Drick inte innan, under eller direkt efter yogapasset.
  %li Vänta ungefär 30 minuter efter yogapasset innan du äter större mängder mat.
  %li Ha mobilen avstängd under yogapasset.
  %li Berätta för läraren innan klassen om eventuella skador.
  %li Om du är gravid ska du inte gå på Ashtanga Yoga.
