%h1 Editing presentkort
- form_for(@gift_certificate_type, :url => admin_gift_certificate_type_path(@gift_certificate_type)) do |f|
  = render :partial => "form", :object => f
  %p
    = f.submit 'Update'
= link_to 'Show', admin_gift_certificate_type_path(@gift_certificate_type)
|
\#{link_to 'Back', admin_gift_certificate_types_path}
