%h1 Nytt presentkort
- form_for(@gift_certificate_type, :url => admin_gift_certificate_types_path) do |f|
  = render :partial => "form", :object => f
  %p
    = f.submit 'Create'
= link_to 'Back', admin_gift_certificate_types_path
