@media print {
  /* line 2, ../../../app/stylesheets/print.scss */
  .admin-navigation {
    display: none;
  }
}
/* line 4, ../../../app/stylesheets/print.scss */
.admin-navigation {
  margin: 40px 0;
}

/* line 5, ../../../app/stylesheets/print.scss */
.session-list {
  border-collapse: collapse;
  width: 15cm;
}

/* line 6, ../../../app/stylesheets/print.scss */
.session-list tr {
  border-bottom: 1px solid lightgray;
  padding: 5px;
}

/* line 7, ../../../app/stylesheets/print.scss */
.session-list th {
  text-align: left;
  padding-right: 20px;
}

/* line 9, ../../../app/stylesheets/print.scss */
html {
  background: white;
}

/* line 10, ../../../app/stylesheets/print.scss */
body {
  margin: 2cm;
  font: normal 13px/18px sans-serif;
  background: white;
}

/* line 11, ../../../app/stylesheets/print.scss */
.banner, .background {
  display: none;
}

/* line 14, ../../../app/stylesheets/print.scss */
.main-content, .main-content .inner-containor, .main-content .grid, .main-content .outer-containor, .main-content .outer-containor .inner-containor, .main-content .outer-containor .grid {
  width: auto;
  padding: 0!important;
  margin: 0!important;
}
/* line 18, ../../../app/stylesheets/print.scss */
.main-content .admin-navigation, .main-content .inner-containor .admin-navigation, .main-content .grid .admin-navigation, .main-content .outer-containor .admin-navigation, .main-content .outer-containor .inner-containor .admin-navigation, .main-content .outer-containor .grid .admin-navigation {
  margin-top: 0;
}

/* line 25, ../../../app/stylesheets/print.scss */
h1 {
  margin-top: 0;
  font-size: 16pt;
}

/* line 26, ../../../app/stylesheets/print.scss */
h2 {
  font-size: 13pt;
}

/* line 30, ../../../app/stylesheets/print.scss */
h1, h2, h3, h4,
h1 a, h2 a, h3 a,
a:link,
a:visited {
  color: black!important;
}

/* line 31, ../../../app/stylesheets/print.scss */
hr {
  border-bottom-color: black;
}

/* line 33, ../../../app/stylesheets/print.scss */
.footer,
.header {
  display: none;
}
