<h2><%= title %></h2>
<table class="session-list">
  <colgroup>
    <col width="20">
    <col>
    <col width="20">
    <col width="1*">
  <tr>
    <th>Närvaro</th>
    <th>Namn</th>
    <th>Betalt</th>
    <th>Kommentar</th>
  </tr>
<%- collection.each do |booking| -%>
  <tr>
    <td><%= @session.attending?(booking.participant) ? "X" : "" %></td>
    <td><%= booking.participant.name %></td>
    <td><%= booking.paid? ? "X" : "" %></td>
    <td class="comment">&nbsp;</td>
  </tr>
<%- end -%>
</table>
