<h1>Klasser</h1>

<table>

<% @sessions.each do |session| %>
  <tr>
    <td>
    <%- total = session.bookings.count + session.course.bookings.count  -%>
    <%- if total > 0 -%>
      <b style="color:red"><%= total %></b>
    <%- else -%>
      -
    <%- end -%>  
    </td>
    <td><%=l session.starts_at, :format => :short %></td>
    <td><%= link_to 'Show', admin_session_path(session) %></td>
  </tr>
<% end %>
</table>
