%h1 New session
- form_for(@session, :url => admin_sessions_path) do |f|
  = f.error_messages
  = render :partial => 'form', :object => 'f'
  %p
    = f.submit 'Create'
= link_to 'Back', sessions_path
