.workshop-listing
  .columns.columns-twentyfour
    .column
      .content
        %h1 Workhop med R. Alexander Medin
  .columns.columns-twelve
    .column
      .content
        %img(src="/images/workshops/alexander_headshot.jpg" style="float:left;margin:0 10px 0 0")
        :markdown
          _Workshopen kommer att genföras på svenska trots att informationen om Alexander och workshopens innehåll på denna sidan är på engelska._
          
          **R. Alexander Medin** has taught Yoga around the world for more than 10 years. He is one of the few in the world that is certified (2002) to instruct/teach primary, intermediate and advanced series in Ashtanga Yoga by Sri K. Pattabhi Jois and Ashtanga Yoga Research Institute (AYRI) in Mysore.
    
          Alexander studies Sanskrit at the Sanskrit college in Mysore, and he also has a Master Degree in Sanskrit and Indian religions at the University of London. He was a co founder of the Yogaplace in London. He writes for the magasine Namarupa, and is now working on a book called "The three Gurus" (Sri K. Pattabhi Jois, TKV Desikashar and BKS Iyengar). Where he is trying to explain Yoga in a modern context and how it relates to the classical texts, Yoga Sutras by Patanjali.
          
          ---------
          
          Workshopen kostar ** #{ number_to_currency(@booker.original_price, :precision => 0)} **
    
          ---------
  
        %div(style="text-align:center")
          .button-link(style="margin-top:20px;")
            = link_to('Anmäl dig till workshop med R. Alexander Medin', book_workshop_path(@booker))
  
        
    .column
      .content
        :markdown
          ---------
          ### Fredag, 27 april
          * _17.30-19.00_ **Led Primary Series:** A class exploring the key principles of yoga according to the teachings of Pattabhi Jois. A class focusing on the delicate work of breath and bandhas.
          * _19.30-20.30_ **The subtle art of Pranayama:** How to lengthen the breath, slow down the pulse and create a calm peaceful mind. 
    
          ---------
          ### Lördag, 28 april
          * _08.00 – 10.00_ **Mysore Style:** How to find your own unique rhythm to the practice. 
          * _10.30 – 12.00_ **The subtle art of Pranayama:** What does the principle texts say on Pranayama and what is the gradual approach we need to develop to find a practice that supports rather than harm and deplete us. 
          * _13.30 – 14.30_ **The Yoga Sutras in a nutshell:** How to cultivate a greater receptivity of yoga from creating a greater stability of mind.  
          * _14.30 – 15.30_ **The eight limbs of Yoga:** How they affect our daily lives on all levels and how a better receptivity of them will create greater steadiness and wellbeing in our lives.  
          * _15.30 – 16.30_ **The Hatha Yoga tradition:** Why a practice of Āsana and Prānāyāma are instrumental in shaping our greater receptivity and understanding of yoga.  
    
          ---------
          ### Söndag, 29 april
          * _08.00 – 10.00_ **Mysore Style:** Confidence versus Humility. How to find a balanced approach to a daily practice of yoga? How to become a better listener to the many intricate ways of the body and mind and find a steadiness that is unshakable in the midst of opposition. 
          * _10.30 – 12.00_ **The subtle art of Pranayama:** How can I apply a Pranayama practice that works for me?
          * _13.30 – 15.00_ **The importance of Sadhana (personal refinement):** How the principal texts define and articulate the slow process that is involved in refining the mind, body and senses and become more receptive to the underlying state of yoga situated within us all. 
  
    