.workshop-listing
  .columns.columns-twentyfour
    .column
      .content
        %h1 Workhop med R. Alexander Medin
  .columns.columns-twelve
    .column
      .content
        %img(src="/images/workshops/alexander_headshot.jpg" style="float:left;margin:0 10px 0 0")
        :markdown
          _Workshopen kommer att genföras på svenska trots att informationen om Alexander och workshopens innehåll på denna sidan är på engelska._
          
          **R. Alexander Medin** has been teaching yoga around the world for over fifteen years. He is one of only 30 people who are certified by the legendary Sri K. Pattabhi Jois. Alexander also has Master's degree in Sanskrit and Indian religions and spent many years in India with in-depth studies. He also writes frequently about yoga and many of his articles have been published in many leading journals worldwide. Alexander moved back to Norway in 2009 and now operates Puro Yoga along with some friends. Before he started as a Yoga teacher in 1996 he was a professional dancer and actress and has worked with choreographers like Birgit Cullberg, Vlado Juras, Anna Grip and directors like Ingmar Bergman, Lars Molin, Lasse Henriksen and Erik Gustavson.
          
          Most recently Alexander produced [Mysore Magic: Yoga at the source](http://www.mysoremagicfilm.com/), a source to inspiration from the home of Ashtanga Yoga.
          
          ---------
          
          För dig som behöver någonstans att bo medans du är i Karlshamn rekomenderar vi Hotell Bode. 
          Hotellet är ett prisvärt alternativ som ligger i samma byggnad som vår studion (våningen ovanför).
          Du hittar mer information på [http://www.hotellbode.se/](http://www.hotellbode.se/)
          
          ---------
          
          Workshopen kostar ** #{ number_to_currency(@booker.original_price, :precision => 0)} **
    
          ---------
  
        %div(style="text-align:center")
          .button-link(style="margin-top:20px;")
            = link_to('Anmäl dig till workshop med R. Alexander Medin', book_workshop_path(@booker))
  
        
    .column
      .content
        :markdown
          ---------
          ### Fredag, 27 april
          * _18.00-20.00_ **Led Primary Series:** A class exploring the key principles of yoga according to the teachings of Pattabhi Jois. A class focusing on the delicate work of breath and bandhas.
    
          ---------
          ### Lördag, 28 april
          * _08.00 – 10.00_ **Mysore Style:** How to find your own unique rhythm to the practice. 
          * _10.30 – 12.00_ **The subtle art of Pranayama:** What does the principle texts say on Pranayama and what is the gradual approach we need to develop to find a practice that supports rather than harm and deplete us. 
          * _13.30 – 14.30_ **The Yoga Sutras in a nutshell:** How to cultivate a greater receptivity of yoga from creating a greater stability of mind.  
          * _14.30 – 15.30_ **The eight limbs of Yoga:** How they affect our daily lives on all levels and how a better receptivity of them will create greater steadiness and wellbeing in our lives.  
    
          ---------
          ### Söndag, 29 april
          * _08.00 – 10.00_ **Mysore Style:** Confidence versus Humility. How to find a balanced approach to a daily practice of yoga? How to become a better listener to the many intricate ways of the body and mind and find a steadiness that is unshakable in the midst of opposition. 
          * _10.00 – 11.00_ **The subtle art of Pranayama:** How can I apply a Pranayama practice that works for me?
          * _11.00 – 12.30_ **The importance of Sadhana (personal refinement):** How the principal texts define and articulate the slow process that is involved in refining the mind, body and senses and become more receptive to the underlying state of yoga situated within us all. 
  
    