html { background:url(/images/background_wall_texture_bottom.jpg) repeat-y rgb(184,179,176); }
body { margin:0; font:normal 15px/22px georgia; background:url(/images/background_wall_texture.jpg) no-repeat; }
a:link,
a:visited { color:#cc2358; text-decoration: none; }
a:link:hover { color:#880f35; text-decoration: none; }
p {margin:12px 0;}
h1, h2, h3, h4 { margin-top:2em; margin-bottom: 8px; font-family: "Lucida Grande", Verdana, Arial, sans-serif; color: #880f35; font-style: normal; font-weight: normal; }
h1 + p, h2 + p, h3 + p, h4 + p,
h1 + ul, h2 + ul, h3 + ul, h4 + ul { margin-top: 8px; }
hr { margin:18px 0; border-bottom-color: #c8c8c8; border-bottom-width: 1px; border-left-style: none; border-bottom-style: solid; border-right-style: none; border-top-style: none; }
h1 a, h2 a, h3 a { color: #880f35!important; }

.logo { font-weight: bold; text-transform: uppercase; position:absolute; font-size: 30px ; font-family: Helvetica, BoomerCond, Knockout, sans-serif, Verdana, Arial;top:-10px; padding:30px 30px 15px; background:#880f35; color:white; -webkit-box-shadow: 4px 4px 15px rgba(0,0,0,0.3); }
a.logo { color:white!important; } 
a.read-more { font:12px verdana;}
.header,
.top,
.content { position:relative; width:860px; margin:0 auto;  }
.header { padding:50px 0px; }
.top { }
.dec { padding-left: 0px; padding-bottom: 30px; padding-right: 20px; padding-top: 10px; line-height: 34px; font:normal 20px/30px georgia; color: #330000; margin:0; }
/* .canvas { background:url(/images/background_wall_texture.jpg)  no-repeat; } */
.content { background:rgba(255,255,255,0.5); min-height:400px;border-top:1px solid transparent; padding:30px 40px 30px 40px; width:780px;  }

.content .sidebar { background:rgba(255,255,255,0.5); float:right; padding:40px; width:200px; margin:-31px -40px 20px 20px; }

table { border-collapse:collapse; }
th,
td { vertical-align:top; padding:0 12px 12px 0;}

/*.compact-session-list table { border-collapse:collapse; }
.compact-session-list th,
.compact-session-list td { vertical-align:top; padding-bottom:12px;}*/
.compact-session-list th { padding-right:10px; white-space:nowrap; }
.compact-session-list td:first-letter { text-transform:capitalize; }
.compact-session-list .date-day-name ,
.compact-session-list .date-day-number { font-weight:bold; }
.compact-session-list .time-number { font-weight:bold; color:#880f35;}

.session-list { width:780px; border-collapse: collapse }
.session-list td { padding:5px; }
.session-list td:first-letter { text-transform:capitalize; }
.session-list thead td { font-size:16px;  }
.session-list tbody tr td:first-child { padding-left:20px }
.session-list tbody.gradient-back { background:rgba(255,255,255,0.5); }
.session-list a.read-more { color:rgb(50,50,50); padding:0 10px; }
.session-list .date-day-number { font-weight:bold; color:#880f35; font-size:18px; }
.session-list .time-number { font-weight:bold; }

/* -webkit-gradient(linear,left top, left bottom, from(#fff), to(rgba(255,255,255,0))) */

.promotion-boxes { vertical-align:top; overflow:hidden; }
.promotion-box { display:inline-block; vertical-align:top; padding:10px 0 0 25px; width:240px; }
.promotion-boxes .promotion-box:first-child { padding-left:0; }
.promotion-box h3 { margin:0 0 10px; }
/*.promotion-box a { font-size:16px; color:#cc2358; }
*/
dt { font-weight:bold; }
dd { margin:0 0 20px 0; }

.global-navigation { position:absolute; width:840px; top:0; margin:0 auto; text-align:right;}
.global-navigation dt { margin:0; padding:0; }
.global-navigation dd { display:inline-block; margin:0; }

.footer { position:relative; width:860px; height:200px; margin:0 auto; bottom: 0px; padding-bottom:10px; font:normal 12px/12px verdana; color:rgb(235,235,235); background:rgb(63,26,38); overflow:hidden;  }
.footer dl { padding:8px 40px; display:block; width:auto; text-align: left; margin:0; z-index:1; }
.footer dl:first-child { background:#cc2358; z-index:2;}
.footer dl { color: white; background:#880f35; }
.footer dt,
.footer dd { margin-bottom: 0; margin-right: 15px; margin-top: 0; display:inline-block; padding:0; }
.footer dt { opacity:0.4; margin-right:10px; }
.footer dd { }
.footer a { color:rgba(255,255,255,0.6); text-decoration:none; }
.footer a:hover { color:white; }

.map { margin:0px 0 10px 0; }
.map > div { border:1px solid rgb(222,222,210); }
.flash-notice,
.flash-error { -webkit-border-radius:10px; margin-top:-10px; margin-bottom:20px; padding:10px; }
.flash-notice { color: #336600; background-color: #ccff99; }
.flash-error { color: #660000; background-color: #ffcccc; }

.base-error,
.validation-error { color: #660000; background-color: #ffcccc; -webkit-border-radius:10px; padding:10px;  }

.validation-error { padding-top:10px; margin-top:-10px; }

.content .three-columns .column { width:240px; margin-left:25px; }
.content .column { display:inline-block; vertical-align:top; }
.content .column:first-child { margin-left:0; }
.column input[type=text],
.column textarea { width:100%; }

.gift-certificate .column input[type=text],
.gift-certificate .column textarea { width:240px; }
.gift-certificate .column label { display:block;  }

/*.gift-certificate .validation-error { padding-left:66px; padding-top:10px; margin-top:-42px; }*/
.gift-certificate .column .validation-error input[type=text],
.gift-certificate .column .validation-error textarea { width:215px; }

.gift-certificate-card { -webkit-border-radius:10px; padding:20px; background:white; }

.date-day-name,
.date-day-number,
.date-month-name {}

.time-number { font-weight:bold; }

.course-started { font:italic 11px/14px verdana; }

