.fc-event,
.fc-event a { color:rgb(30,60,115)!important; background-color:rgb(180,200,235)!important; border-color:rgb(180,200,235)!important; }
.fc-event a:hover { color:rgb(30,60,115)!important; }
.fc-content {
	clear: none!important;
}

.calendar-session-disabled,
.calendar-session-disabled a { color:rgb(185,5,70)!important; background-color:rgb(255,165,200)!important; border-color:rgb(255,165,200)!important; text-decoration:line-through; } 
.calendar-session-disabled a:hover { color:rgb(185,5,70)!important; } 

.calendar-session-nybrjare,
.calendar-session-nybrjare a { color:rgb(5,115,60)!important; background-color:rgb(235,255,240)!important; border-color:rgb(235,255,240)!important; }
.calendar-session-nybrjare a:hover { color:rgb(5,115,60)!important; }

.calendar-session-alla,
.calendar-session-alla a { color:rgb(100,50,0)!important; background-color:rgb(255,220,150)!important; border-color:rgb(235,255,240)!important; }
.calendar-session-alla a:hover { color:rgb(100,50,0)!important; }
