$color-pink-dark:#a14f7f;
$color-pink-light:#d0278b;
$color-blue-dark:#a6bccc;
$color-blue-light:#c3d5e1;
$color-yellow-dark:#f6db7e;
$color-yellow-light:#fdf3b3;
$color-green-dark:#396162;
$color-green-light:#d6e3e2;
$color-gray-pale:#f3f3f3;
$color-gray-light:#d9d9d9;
$color-gray-medium:#999999;
$color-gray-dark:#333333;

$color-link:#30709e;
$color-link-hover:#3da4ed;
$color-link-active:$color-pink-light;
