.compact-session-list th { padding-right:10px; white-space:nowrap; }
.compact-session-list td:first-letter { text-transform:capitalize; }
.compact-session-list .date-day-name ,
.compact-session-list .date-day-number { font-weight:bold; }
.compact-session-list .time-number { font-weight:bold; color:rgb(235,10,90); }

.course-info { 
  border-collapse: collapse;
  ul.course-facts {
    margin-bottom:18px;
    li {
      margin:0;
    }
  }
  .signup {
    @include inline-block;
    @include background-image(linear-gradient(left, white, $color-blue-light, white));
    margin:10px -10px;
    padding:10px 40px;
  }
  
  tr {
    border-bottom:1px solid $color-gray-light;
  }
  td { 
    padding:10px 0;
  }
  tr:first-child {
    td { 
      padding-top:0;
    }
  }
  tr:last-child {
    border:none;
  }  
}
.session-list {
  .session-list-comment { font-style:italic; color:rgb(100,100,100); }
  .session-list-canceled { 
    margin:10px 0;
    .session-list-item {
      color:$color-gray-medium; 
      text-decoration:line-through;
      margin-bottom:-5px; 
    }
  }
  .date-day-number,
  .date-month-name {
    font-weight:bold;
  }
}

