.compact-session-list th { padding-right:10px; white-space:nowrap; }
.compact-session-list td:first-letter { text-transform:capitalize; }
.compact-session-list .date-day-name ,
.compact-session-list .date-day-number { font-weight:bold; }
.compact-session-list .time-number { font-weight:bold; color:rgb(235,10,90); }

.session-list { width:780px; border-collapse: collapse }
.session-list td { padding:5px; vertical-align:bottom; }
.session-list td:first-child:first-letter { text-transform:capitalize; }
.session-list thead td { font-size:16px;  }
.session-list tbody tr td:first-child { padding-left:20px }
.session-list tbody.gradient-back { background:rgb(236,235,234); background:rgba(255,255,255,0.5); }
.session-list a.read-more { color:rgb(50,50,50); padding:0 10px; }
.session-list .date-day-number { font-weight:bold; color:rgb(235,10,90); font-size:18px; }
.session-list .time-number { font-weight:bold; }
.session-list td.session-list-comment { padding:0 0 10px 10px!important; font-style:italic; color:rgb(100,100,100); }
.canceled-session td { background:rgb(255,165,90); }
