<div class="address-contact">
  <dl>
    <dt>Address</dt>
    <dd>Södra Fogdelyckegatan 28, 37436 Karlshamn</dd>
  </dl>
  <dl>
    <dt>Telefon</dt>
    <dd>+46-709-961600</dd>
  </dl>
  <dl>
    <dt>E-mail</dt>
    <dd><%= mail_to "jonas@navayoga.se" %></dd>
  </dl>
</div>
