%h2 Ashtanga Yoga
.photo
  %img{:alt => "DSC 0066", :height => "200", :src => "/images/DSC_0066.jpg", :width => "300"}/
%p Ashtangayoga definieras ofta som en idrottslig, fysisk och dynamisk form av yoga. Detta är utan tvivel sant om man tänker på hur krävande och imponerande övningen är och på att den ger ökad muskelstyrka, hälsa och livskraft. Ashtangayoga är dock mycket mer än en övning som tänjer och stärker kroppen.
%p Genom medveten andning, yogaövning, blickfokusering och koncentration kan man utveckla en god kroppskontroll, kontroll över sinnena och en medvetenhet om sitt inre. Enligt Sri K. Pattabhi Jois är ashtangayoga en stig som leder oss till "den ande som finns inom oss" eller vår verkliga natur.
%h3 Yogan passar alla
%p Alla människor kan yoga. När det gäller träningen har alla olika förutsättningar. En del är vigare än andra. Därför ska man inte stirra sig blind på vad alla andra verkar kunna. Yoga handlar bara om en själv, och man ska vara nöjd med vad ens kropp klarar av, även om man ibland kan tycka att det går väldigt långsamt. Prestation kan vara en drivkraft, men meningen med yoga är inte att man ska klara alla övningar på en gång. Vägen dit är att man ska vara här och i nuet och inte hetsa på sig själv. Yoga tar tid och det ska man låta den göra.
%p Ashtangayoga betyder åtta delar, som Rishi Patanjali skrev i aforistisk form i sitt verk Yoga Sutra för ca 2 000 år sedan. Hans texter baserar sig på ännu äldre texter, Veda, och den kunskap som har överförts muntligt från guru till elev. I ashtangayoga kombineras flera sorters yoga som klassificerats inom yogaundervisningen. Den är till 99 procent praktisk övning bestående av ställnings- och andningsövningar samt en förmedling av en attityd som är gynnsam för yogautövaren (yama och niyama).	 	Yogateorin som kan studeras i sin mest äkta form i heliga skrifter är bara en bråkdel av övningen. Böckerna visar oss yogans väg, men praktisk tillämpning är det enda sättet att rena kroppen och sinnet från blockeringar för att aktivera de fysiska, mentala och andliga resurserna samt för att uppnå inre frid och lycka.
%p Att kombinera andning och ställningar med vinyasa-teknik samt att dra samman muskellåsen (mula bandha och uddiyana bandha) åstadkommer att hela kroppen värms upp, vilket gör det behagligt och tryggt att tänja kroppen. Värmen och svettningen sätter igång en omfattande reningsprocess i vilken de inre organen, musklerna, nervsystemet, hjärnan och sinnena deltar.
%h3 Effekter av ashtangayoga
%ul
  %li Ger fastare och mjukare muskler, avlägsnar onödigt fett och ger en lätt och energisk känsla.
  %li Renar kroppen från de gifter som samlas genom en ohälsosam livsstil och återför förlorad livskraft till kroppen.
  %li Håller kroppen och sinnet ungdomligt, friskt och livskraftigt.
  %li Utgör effektiv träning kombinerad med olika sporter och fritidsaktiviteter.
  %li Minskar risken för sträckningar och skador.
  %li Förbättrar immunförsvaret och ämnesomsättningen.
  %li Förbättrar syreupptagningsförmågan, kvaliteten på andningen och medvetenheten om andningen.
  %li En forskningsresa i din kropp och ditt sinne.
%hr/
%p{:style => "font-style:italic;text-align:right"}
  Text från #{link_to 'Atmajyoti', 'http://www.atmajyoti.se/ashtanga_yoga.html'}
/
  <p style="margin:20px 0 0">
  <object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/ciAnDkxaJE4&amp;hl=sv_SE&amp;fs=1&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/ciAnDkxaJE4&amp;hl=sv_SE&amp;fs=1&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
  </p>
