!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    <![if !IE]>
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900'
    <![endif]>
    = stylesheet_link_tag 'compiled/development.css'
    %title
      Nava yoga-studio i Karlshamn
    %body
      
      .main
        .grid
          .columns.columns-swatch
            .column.color-pink-dark
            .column.color-pink-light
            .column.color-blue-dark
            .column.color-blue-light
            .column.color-yellow-dark
            .column.color-yellow-light
            .column.color-green-dark
            .column.color-green-light
            .column.color-gray-pale
            .column.color-gray-light
            .column.color-gray-medium
            .column.color-gray-dark
          .columns.columns-twentyfour
            .column
              %p
                .color-link
                  A link color
                .color-link-hover
                  A hover link color
                .color-link-active
                  A active link color
                
          