%h2 Introduktionskurs
Innan vårens kurser startar har vi en 2 timmars kurs för dig som är nybörjare. Här blir du introducerad till Ashtanga yogans grunder, så som andningsteknik, rörelser, positioner och yogans filosofi.
Kursen hålls
%strong lördagen den 21:e januari
från klockan
%strong 14:00
till
= succeed "." do
  %strong 16:00
%p= link_to "Anmäl dig till kursen", book_workshop_path(@introduction_course)
%p
  = link_to 'Här kan du läsa mer', about_ashtanga_yoga_path
  om vad Ashtanga Yoga är.
%p= render :partial => 'sessions/house_rules'
