Vi har tagit bort anmälan för klassen #{@object.booker.name} med start #{l(@object.booker.starts_at, :format => :long)}.

Id är #{@object.id}

PayPal referencenummer för betalning är #{@object.payment.transaction_id}
