<h1>Editing course</h1>

<% form_for(@course, :url => admin_course_path(@course)) do |f| %>
  <%= render :partial => 'form', :object => f  %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>