<h1>Kurser</h1>

<table>

<% @courses.each do |course| %>
  <tr>
    <td>
    <%- if course.bookings.count > 0 -%>
      <b style="color:red"><%= course.bookings.count %></b>
    <%- else -%>
      -
    <%- end -%>  
    </td>
    <td><%=l course.starts_at, :format => :short %></td>
    <td><%= link_to 'Show', course %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny kurs', new_admin_course_path %>
